@import "tailwindcss";

@theme {
  --font-heading: Montserrat, Arial, sans-serif;
  --font-body: Montserrat, Arial, sans-serif;
  --font-mono: Montserrat, Arial, sans-serif;

  /* Custom color palette */
  --color-background-base: #0a0a0a;
  --color-background-secondary: #1a1a1a;
  --color-background-elevated: #2a2a2a;
  --color-border: #3a3a3a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: #000000;
}
